.taskbar {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 50px;

    background: #d6c7ff;
    border-top: 3px solid #ffffff;

    display: flex;
    align-items: center;
    gap: 12px;

    padding: 0 16px;
}

.taskbar button{
    padding: 6px 12px;
    cursor: pointer;
}